<!DOCTYPE html>
<html>
<head>
    <title>Successfully added quotes</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
            <a href="/quotes/">DASHBOARD</a>
            <a href="/login_and_registration/logout">LOGOUT</a>
        <h1>Posts by: {{request.session.first_name}} {{request.session.last_name}}</h1>
        <h4>Count: {{context.count}}</h4>
        <div class="container">
            {% for post in context %}
              <p>{{post.quote_author}} : {{post.quote_text}}</p>
            {% endfor %}
        </div>
        <h2>Liked posts by: {{request.session.first_name}} {{request.session.last_name}}</h2>
        <div class="container">
                {% for post in liked_quotes %}
                  <p>{{post.quote_author}} : {{post.quote_text}}</p>
                {% endfor %}
        </div>
    </div>
</body>
</html>